body{
	background-color: #e0e0e0;
}

footer{
	background-color: #69a9ff;
}

#banner{
	width: 100vw;
}

.clientesTabla {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #69a9ff;
    text-align: left;
    padding: 8px;
}

tr:nth-child(odd) {
    background-color: #6298ff;
}

tr:nth-child(even) {
    background-color: #ffffff;
}